<!DOCTYPE html>
<html>
	<head>
		<title>Earthkin</title>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>

		<link rel="icon" type="image/png" href="/favicon.png">
		<link rel="apple-touch-icon" href="/apple-touch-icon.png">

		<%= stylesheet_link_tag 'application', media: 'all' %>
		<%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
	</head>

	<body>
		<%= yield %>

		<% userback_token = Rails.application.credentials.userback_access_token.presence || ENV['USERBACK_ACCESS_TOKEN'] %>
		<% if userback_token.present? && user_signed_in? %>
			<script>
				window.Userback = window.Userback || {};
				Userback.access_token = '<%= j userback_token %>';
				Userback.user_data = {
					id: '<%= j current_user.id.to_s %>',
					info: { email: '<%= j current_user.email %>' }
				};
				(function(d) {
					var s = d.createElement('script');
					s.async = true;
					s.src = 'https://static.userback.io/widget/v1.js';
					(d.head || d.body).appendChild(s);
				})(document);
			</script>
		<% end %>
	</body>
</html>
